*{
    box-sizing: border-box;
}

#panel-toggle{
    display: none;
}
.open-panel-More,
.close-panel-More {
    padding: 10px 16px;
    border-radius: none;
    cursor: pointer;
    font-weight: 500;
    border: 3px solid;
    border-image-slice: 1;
    border-width: 3px;
    transition: all 0.3s ease;
}
.open-panel-More {
    float: right; 
    margin-right: 40px; 
    height: 30px; 
    background-color: #f0efeb; 
    border: none; 
    border-radius: 8px;
}
.side-panel {
    position: fixed;
    right: -90%;
    top: 0;
    height: 100%;
    width: 380px;
    max-width: 90%;
    padding: 28px;
    overflow-y: auto;
}
#panel-toggle:checked + .open-panel-More + .side-panel {
    right: 0;  
} 

