body{
    font-size: 1em;
    background-color: #f0efeb;
}
h1{
    height: 50px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #000047;
    padding: 10px;
}
p1{
    height: 30px;
    font-size: 10px;
    font-style: oblique;
    padding: 10px;
}
p2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    .startbutton{
        border: none;
        border-radius: 12px;
        color: #f0efeb;
    }
    
}



:root {
    background-color: #f0efeb;
    border: #000047;
}

#toggle-more{
    display: none;
}
.open-panel,
.close-panel {
    padding: 10px 16px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;
    border: 3px solid;
    border-image-slice: 1;
    border-width: 3px;
    transition: all 0.3s ease;
}
.open-panel {
    border-radius: linear-gradient(45deg, blue, yellow);
    color: #000047;
    border-image-source: var(--accent-gradient);
}
.open-panel:hover {
    background: linear-gradient(45deg, blue, yellow);
        color: #f0efeb;
        transform: scale(1.05);
}
.side-panel {
    position: fixed;
    right: -90%;
    top: 0;
    height: 100%;
    width: 380px;
    max-width: 80%;
    padding: 28px;
    overflow: auto;
}
#toggle-more:checked + .open-panel + .side-panel {
    right: 0;
}